.container {
    transition: transform 0.3s ease;
    /* Adjust the initial position */
    transform: translateY(0);
  }
  
  .slide-up {
    transform: translateY(-150px); /* Adjust the amount of slide as needed */
  }
  
  .slide-down {
    transform: translateY(0);
  }