@font-face {
  font-family: 'Rubik';
  src: local('Rubik-VariableFont_wght'), url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'DarkerGrotesque';
  src: local('DarkerGrotesque'), url(./fonts/DarkerGrotesque.ttf) format('truetype');
}


.body {
  font-family: 'DarkerGrotesque';
}